<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{!-- <h1>{{msg}}</h1> --}}
        {{!-- <h1 class = "text-center">MARBLE SODA GAME</h1> --}}

        {{!-- <form  action="POST">
          <div class="question">
            <label for="example-text">Username </label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="question">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <div class="question">
            <label for="example-score">Score</label>
            <input type="text" id="example-score" class="form-control" aria-describedby="example-score" placeholder="Enter Example Score">
          </div>
          <button id="submit">Submit</button>
        </form> --}}
         <form action="POST">
                <h1>Marble Soda</h1>
                <div class="question">
                  <input type="text" required/>
                  <label>User Name</label>
                </div>
                <div class="question">
                  <input type="text" required/>
                  <label>Example Description</label>
                </div>
                <div class="question">
                  <input type="text" required/>
                  <label>Score</label>
                </div>
                <button>Submit</button>
          </form>



        <h1 class = "lead text-center">LEADERBOARD</h1>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item text-center dispText">
            <a href="example/{{this.id}}">{{this.text}}</a>
            {{!-- <button class="btn btn-danger float-right delete">ｘ</button> --}}
            <div class = "text-center dispScore">{{this.score}}</div>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
