<div class="container">
  <div class="row">
    <div class="col-8 offset-2">

        <h1 id = "sessionUser" style = "text-align: center">{{user}}</h1>
      <div class="card mt-4">
        <div class="card-body" style = "text-align: center">

          {{!-- <div class="webgl-content"> --}}
          <div id="gameContainer" style="height: 500px; margin-left: 100px"></div>
        {{!-- <div class="footer">
          <div class="webgl-logo"></div>
          <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
          <div class="title">Marble Soda</div>
        </div> --}}



    


{{!-- 
<form>
          <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="text" class="form-control" id="score-ex" placeholder="0">
        </div>
            <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</form> --}}
            <a href="/"><button id="backhome">← Back To Home</button></a>
          {{!-- <div id="t" style="display: none"> --}}
              {{!-- <img class="someClass" src="{{game.jpg}}"> --}}
          {{!-- </div> --}}


        {{!-- </div> --}}
        </div>
      </div>
    </div>
  </div>
</div>
        {{!-- <form>          
               <div class="question">
            <label for="example-score" style = "font-weight: bold; text-align: center">Score</label>
            <input type="text" id="example-score" class="form-control" aria-describedby="example-score" placeholder="Enter Score">
          </div>
          <button id="submitbtn">Submit</button>
          </form> --}}
          {{!-- <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
            <strong>Score</strong>: {{example.score}}</p>
          <p>
            <strong>Text</strong>: {{example.text}}</p>
          <p>
            <strong>Description:</strong> {{example.description}}</p>
            <a href="/">← Back To Home</a> --}}

<script>

  $("#sessionUser").text("Welcome back " + sessionStorage.getItem("user"));



</script>

  {{!-- var user = sessionStorage.getItem("user");
  var score = sessionStorage.getItem("score");
  var newScore = sessionStorage.getItem("newScore"); --}}


{{!--   
  if (newScore > score || newScore === null){
    sessionStorage.setItem('score', newScore);
  } --}}